/* CSS Général du site */

/*
    Police utilisées :
    - medium
    - semi-bold
    - regular
    - italic
    - bold
*/

/*
    Code couleur :
    - Bleu : #4490df
    - Blanc : #fff
    - Gris : #414141
    - Orange : #df6944
*/

@font-face {
    font-family: Montserrat Medium;
    src: url('../font/Montserrat-Medium.ttf') format("ttf");
}
@font-face {
    font-family: Montserrat SemiBold;
    src: url('../font/Montserrat-SemiBold.ttf') format("ttf");
}
@font-face {
    font-family: Montserrat Regular;
    src: url('../font/Montserrat-Regular.ttf') format("ttf");
}
@font-face {
    font-family: Montserrat Italic;
    src: url('../font/Montserrat-Italic.ttf') format("ttf");
}
@font-face {
    font-family: Montserrat BoldItalic;
    src: url('../font/Montserrat-BoldItalic.ttf') format("ttf");
}
@font-face {
    font-family: Montserrat Bold;
    src: url('../font/Montserrat-Bold.ttf') format("ttf");
}

body {
    margin: 0;
    padding: 0;
    background: url('../img/background.png') center;
}

.loader {
    z-index: 100;
    height: 100vh;
    width: 100%;
    background: url('../img/background.png') no-repeat center;
}
.loader .container {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    font-family: Montserrat BoldItalic;
    color: #fff;
    text-align: center;
}
.loader .container img {
    width: 100%;
}
.ProgressBar {
    margin-top: 20px;
}
.ProgressBar #myProgress {
    width: 80%;
    background-color: #414141;
    display: inline-block;
}
.ProgressBar #myBar {
    width: 1%;
    height: 3px;
    background-color: #4490df;
}
.ProgressBar #percent {
    margin-left: 5px;
    /* display: inline-block; */
    font-family: 'Montserrat Medium';
}

.header {
    width: 100%;
    position: fixed;
    color: #fff;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .logo {
    height: 60%;
    margin-left: 20px;
}

.header .btn_menu img {
    margin-right: 20px;
    height: 30px;
}

.menu {
    z-index: 100;
    position: fixed;
    background: #fff;
    height: 100vh;
    width: 100%;
    color: #414141;
    overflow: auto;
}
.menu .menu_header {
    width: 100%;
    color: #414141;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu .menu_header .logo {
    height: 60%;
    margin-left: 20px;
}
.menu .menu_header img {
    margin-right: 20px;
    height: 30px;
}
.menu .content {
    width: 100%;
    text-align: center;
    color: #414141;
    margin-top: 40px;
    
}
.menu .content input[type=text] {
    width: 70%;
    border-radius: 2px;
    border: 1px #4490df solid;
    padding: 10px;
    font-size: 1.6em;
}
.menu .content a {
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Montserrat SemiBold';
    color: #414141;
    font-size: 1.8em;
    width: 100%;
    text-align: left;
    display: block;
    margin: 0 auto;
    padding: 10px 0 10px 15%;
    margin-top: 20px;
}
.menu .content a:hover, a:active {
    color: #414141;
    border-left: 10px #4490df solid;
}

.menu .footer {
    width: 100%;
    padding: 0 15% 0 15%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}
.menu .footer img {
    width: 20px;
    height: auto;
}

.contentGlobal {
    padding-top:110px;
    color:white;
}

.title{
    font-family: 'Montserrat SemiBold';
    font-size: 23pt;
    margin-left:30px;
    display: inline;
}

.img{
    width: 80%;
    display: block;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    height:auto;
}

.text{
    font-family: "Montserrat Italic";
    color:#8E8E8F;
    margin: 30px 30px 0px 30px;
}

.txt_1{
    font-size:13pt;
}

.txt_2{
    float:right;
    font-size: 12pt;
}

.links{
    display:flex;
    clear:both;
    margin: 0px 30px 0px 30px;
    font-size: 12pt;
}

.subtitle{
    font-family: "Montserrat SemiBold";
    color: #8D8D8D;
}

.meet_our_team a{
    font-family: "MontSerrat Regular";
    color:white;
}

.our_biggest_project a{
    font-family: "MontSerrat Regular";
    color:#3D9DE1;
}