/* CSS Général du site */

/*
    Police utilisées :
    - medium
    - semi-bold
    - regular
    - italic
    - bold
*/

/*
    Code couleur :
    - Bleu : #4490df
    - Blanc : #fff
    - Gris : #414141
    - Orange : #df6944
*/



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: url('../img/background.png') center;
}

.loader {
    z-index: 100;
    height: 100vh;
    width: 100%;
    background: url('../img/background.png') no-repeat center;
}
.loader .container {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    font-family: Montserrat BoldItalic;
    color: #fff;
    text-align: center;
}
.loader .container img {
    width: 100%;
}
.ProgressBar {
    margin-top: 20px;
}
.ProgressBar #myProgress {
    width: 80%;
    background-color: #414141;
    display: inline-block;
}
.ProgressBar #myBar {
    width: 1%;
    height: 3px;
    background-color: #4490df;
}
.ProgressBar #percent {
    margin-left: 5px;
    /* display: inline-block; */
    font-family: 'Montserrat Medium';
}

.header {
    width: 100%;
    position: fixed;
    color: #fff;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .logo {
    height: 60%;
    margin-left: 20px;
}

.header .btn_menu img {
    margin-right: 20px;
    height: 30px;
}

.menu {
    z-index: 100;
    position: fixed;
    background: #fff;
    height: 100vh;
    width: 100%;
    color: #414141;
    overflow: auto;
}
.menu .menu_header {
    width: 100%;
    color: #414141;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu .menu_header .logo {
    height: 60%;
    margin-left: 20px;
}
.menu .menu_header img {
    margin-right: 20px;
    height: 30px;
}
.menu .content {
    width: 100%;
    text-align: center;
    color: #414141;
    
}
.menu .content input[type=text] {
    width: 70%;
    border-radius: 2px;
    border: 1px #4490df solid;
    padding: 10px;
    font-size: 1.6em;
}
.menu .content a {
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Montserrat SemiBold';
    color: #414141;
    font-size: 1.8em;
    width: 100%;
    text-align: left;
    display: block;
    margin: 0 auto;
    padding: 10px 0 10px 15%;
    margin-top: 20px;
}
.menu .content a:hover, a:active {
    color: #414141;
    border-left: 10px #4490df solid;
}

.menu .footer {
    width: 100%;
    padding: 0 15% 0 15%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}
.menu .footer img {
    width: 20px;
    height: auto;
}

.bgGlobal{ 
    min-height: 100vh; 
    width: 100%;  
    background: url('../img/background.jpg') no-repeat center;
    background-size: 110%;
}

.contentGlobal {
    padding-top:75px;
    color:white;
}

.title{
    font-family: 'Montserrat SemiBold';
    font-size: 20pt;
    margin-left:30px;
    display: inline;
}

.img{
    width: 80%;
    display: block;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    height:auto;
}

.text{
    margin: 0px 30px 0px 30px;
}

.text_home{
    font-family: "Montserrat Italic";
    color:#8E8E8F;
}

.text_mars{
    font-size: 10pt;
}

.text_title{
    font-family: "Montserrat SemiBold";
    margin-bottom: 10px;
}

.txt_1{
    font-family: "Montserrat";
    font-style:italic;
    font-size:10pt;
    margin: 30px 0px 0px 0px;
}

.txt_2{
    font-family: "Montserrat";
    float:right;
    font-size: 10pt;
    margin-bottom: 30px;
}

.links{
    display:flex;
    clear:both;
    margin: 0px 30px 0px 30px;
    font-size: 10pt;
    justify-content: space-between;
}

.subtitle{
    font-family: "Montserrat SemiBold";
    color: #8D8D8D;
    margin-bottom: 25px;
}

.meet_our_team a{
    font-family: "MontSerrat Regular";
    color:white;
    display: block;
}

.our_biggest_project a{
    font-family: "MontSerrat Regular";
    color:#3D9DE1;
}

.meet_our_team a:last-child{
    margin-top:10px;
}

.text_mars{
    overflow: hidden;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.4);
    font-family: "Montserrat";
    font-weight: 300;
    margin-top: 25px;
}

.text_content_mars{
    font-size:12px;
}

.text_sign_mars{
    font-family: "Montserrat";
    font-style: italic;
    float: right;
    font-size: 12px;
}

.ticket_mars{
    display:flex;
    background-color: #1E1E1E;
    margin: 30px;
    padding:10px;
    align-items: flex-start;
    justify-content: space-between;

}

.title_ticket_mars{
    font-family: "Montserrat";
    font-weight: 700;
    margin-bottom:10px;

}

.button_ticket_mars{
    display: inline-block;
    font-family: "Montserrat";
    border: 1px solid white;
    color:white;
    padding: 8px 20px;
    font-size: 10px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0);
}

.button_ticket_mars:hover {
    background-color: white;
  	color: black;
}

.img_ticket_mars{
    width: 60px;
}